/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&family=Titan+One&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/plasma4.jpg);
    font-family: Arial, sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
}

.logo img {
    height: 60px;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
}

.desktop-nav {
    display: flex;
    justify-content: center;
    flex: 1;
}

.desktop-nav a {
    color: #f4d400;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.desktop-nav a:hover,
.mobile-nav a:hover {
    transform: scale(1.1);
    color: white;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.368);
    padding: 20px;
}

.mobile-nav a {
    color: #f4d400;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s ease;
}

.menu-icon {
    font-size: 30px;
    color: #f4d400;
    cursor: pointer;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.menu-icon:hover {
    transform: translateX(-50%) rotate(90deg);
}



.foto-section {
    background-image: url(../assets/background4.jpg);
    width: 100%;
    height: 30vh;
    overflow: hidden;
    margin-bottom: -40px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00000000;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f4d400;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fff;
}

main {
    margin-top: 80px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 20px;
}

/* Estilo de cada item de serviço */
.foto-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.foto-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.foto-item:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.foto-item .descricao {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #f4d400;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    transition: background 0.3s;
}

.foto-item:hover .descricao {
    background: rgba(0, 0, 0, 0.85);
}

#redes-sociais {
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: "Bebas Neue", sans-serif;
    color: #f4d400;
    text-align: center;
    font-size: 22px;
}

.social-icons a {
    font-size: 30px;
    margin: 0 15px;
    transition: transform 0.3s;
}

.social-icons img {
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.social-icons img:hover {
    transform: scale(1.5);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.016);
    color: white;
}

footer a {
    color: #f4d400;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* Mobile */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.01);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        z-index: 100;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .menu-items.show {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        background-color: #000000e9;
        border-radius: 30px;
        align-items: center;
    }

    .menu-items {
        display: none;
    }

    #redes-sociais {
        font-size: 15px;
        width: 80%;
        text-align: center;
        margin-left: 10%;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
